!DOCTYPEhtml>
    <html>
    <head></head>
    <body>
        <divclass="row justify-content-center">
            <divclass="col-md-4 text-left bg-white rounded shadow-lg mb-5 mt-5  py-3">
                <div><h3><strong>Contact us</strong></h3></div><br>
                <form(ngSubmit) = "onsubmit(signupform)"#signupform = "ngForm">
                    <divclass="form-row">
                        <divclass="form-group col-12">
                            <labelfor="fname">Name</label>
                            <inputtype="text"class="form-control"id="fname"name="Ufname"ngModelrequired  #fname="ngModel">
                            <small*ngIf = '!fname.valid&&  fname.touched'class="text-danger">Please Enter Your name</small>
                        </div>  
                    </div>
    
                    <divclass="form-group">
                        <labelfor="email">Email</label>
                        <inputtype="email"class="form-control"id="email"placeholder="gadhehariharan18@gmail.com"name="Umail"ngModelrequiredemail#email="ngModel">
                        <small*ngIf = '!email.valid&&  email.touched'class="text-danger">Please Enter Valid Email</small>
                    </div>
    
                    <divclass="form-group">
                        <label>Your Message</label>
                        <textareaclass="text-left"name="text"rows="4"cols="47"></textarea>
                    </div>
                    
                    <buttontype="submit"class="btnbtn-primary float-right"[disabled] = '!signupform.valid'>Submit</button>
                </form>
            </div>
        </div>
    </body>
    </html>
    <app-footer></app-footer>
</div>  
</div>

<divclass="form-group">
    <labelfor="email">Email</label>
    <inputtype="email"class="form-control"id="email"placeholder="gadhehariharan18@gmail.com"name="Umail"ngModelrequiredemail#email="ngModel">
    <small*ngIf = '!email.valid&&  email.touched'class="text-danger">Please Enter Valid Email</small>
</div>

<divclass="form-group">
    <label>Your Message</label>
    <textareaclass="text-left"name="text"rows="4"cols="47"></textarea>

</div>

<buttontype="submit"class="btnbtn-primary float-right"[disabled] = '!signupform.valid'>Submit</button>
</form>
</div>
</div>
</body>
</html>
<app-footer></app-footer>

